{% extends 'site_admin/base.html' %}
{% block sidebar_content %}
  <div class="flex-column">
    <div class="grid mb-section">
      <div class="content item">
        <div class="flex-row center-content">
          <i class="bi bi-view-stacked dashboard-icon"></i>
          <p class="text-center dashboard-text">Pending item submissions</p>
        </div>
        <p class="text-center">{{ pending_items }}</p>
      </div>
      <div class="content item">
        <div class="flex-row center-content">
          <i class="bi bi-ticket-fill dashboard-icon"></i>
          <p class="text-center dashboard-text">Pending support tickets</p>
        </div>
        <p class="text-center">{{ pending_tickets }}</p>
      </div>
      <div class="content item">
        <div class="flex-row center-content">
          <i class="bi bi-person-circle dashboard-icon"></i>
          <p class="text-center dashboard-text">Total users</p>
        </div>
        <p class="text-center">{{ total_users }}</p>
      </div>
    </div>
  </div>
{% endblock sidebar_content %}