{% extends 'site_admin/base.html' %}
{% block sidebar_content %}
<form method="POST">
  {% csrf_token %}
  <div class="form-fields">
    {{ form }}
    <div class="flex-row">
      <button class="submit-button" type="submit">Update</button>
      <a href="{% url 'admin-review-item-accept' id=item.id %}" class="submit-button ml-auto">Submit</a>
      <a href="{% url 'admin-review-item-delete' id=item.id %}" class="delete-button">Delete</a>
    </div>
  </div>
</form>
{% endblock sidebar_content %}