.mb {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.item {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1150px) {
    .grid {
        grid-template-columns: 1.5fr 1.5fr;
    }
}


@media (max-width: 700px) {
    .grid {
        grid-template-columns: 3fr;
    }
}


.title {
    font-size: 1.5rem;
}


.pil {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0;
    border-radius: 0.3rem;
}

.pil h2 {
    color: #000;
}


table {
    color: #fff;
    width: 100%;
}


th {
    text-align: left;
}


.item-img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 800px) {
    .item-img {
        width: auto;
    }
}