{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
  <div class="content mb">
    <div class="flex-row">
      <h2>{{ collection.name }} Colection</h2>
      <button class="submit-button ml-auto">Sort</button>
    </div>
  </div>
  <div class="grid">
  {% for item in collection.collection_items.all %}
    <div class="content item">
      <h3>{{ item.name }}</h3>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}