{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
  {% if top_bar %}
    <div class="content mb">
      <div class="flex-row">
        <h2>{{ collection_name }}</h2>
        <button class="submit-button ml-auto" onclick="togglesortmenu();">Sort</button>
      </div>
      <div id="sortmenu" class="sort-grid disabled">
        <div class="flex-col">
          {% for rarity in rarity_filters %}
            <div class="flex-row">
              <label for="{{ rarity.sort_name }}" class="mr-05" style="color: #{{rarity.color}};">{{ rarity.name }}</label>
              <input id="{{ rarity.sort_name }}" type="checkbox" onchange="togglesort(this);">
            </div>
          {% endfor %}
        </div>
        <div class="flex-col">
          {% for key, value in type_filters.items %}
            <div class="flex-row">
              {% for text, color in value.items %}
                <label for="{{ key }}" class="mr-05" style="color: #{{color}};">{{ text }}</label>
                <input id="{{ key }}" type="checkbox" class="sort-option" onchange="togglesort(this);">
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <a class="submit-button" id="sort-btn" href="">Sort</a>
      </div>
      <script>
        const sortmenu = document.getElementById("sortmenu");
        const sort_btn = document.getElementById("sort-btn");
        let sort_url = "?";

        function togglesortmenu() {
          sortmenu.classList.toggle("disabled");
        }

        function togglesort(element) {
          if (sort_url.includes(element.id.toString())) {
            if (element.checked == true) {
              sort_url = sort_url.replace(element.id + "=" + 0, "");
            }
            else {
              sort_url = sort_url.replace(element.id + "=" + 1, "");
            }
          }
          let value;
          if (element.checked == true) {
            value = 1 
          }
          else 
          {
            value = 0
          }
          if (sort_url !== "?") {
            sort_url += "&";
          }
          sort_url += element.id + "=" + value;
          sort_btn.href = sort_url;
          console.log(sort_url);
        }

        function loadcurrentstate() {
          let selected_options = [];
        }
      </script>
    </div>
  {% endif %}
  <div class="grid">
  {% for item in items %}
    <div class="content item">
      <div class="flex-row">
        <a class="ml-auto text-dec-none title" href="{% url 'items-subcat' id=item.subcategory.id %}">{{ item.subcategory.name}}</a>
        <p class="title ml-02 mr-02">|</p>
        <a class="mr-auto text-dec-none title" href="{% url 'items-pattern' id=item.pattern.id %}">{{ item.pattern.name }}</a>

      </div>
      <a href="{% url 'items-item' id=item.id %}">
        <img class="width-100" src="{{ item.icon.url }}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}