{% extends 'base/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
  <div class="content mb">
    <div class="flex-column item-column">
      <div class="flex-row center-content">
        <a href="{% url 'items-subcat' id=item.subcategory.id %}" class="text-dec-none">
          <h1>{{ item.subcategory.name }}</h1>
        </a>
        <h1 class="mh-03">|</h1>
        <a href="{% url 'items-pattern' id=item.pattern.id %}" class="text-dec-none">
          <h1>{{ item.pattern.name }}</h1>
        </a>
      </div>
      {% if item.rarity %}
        <div class="pil" style="background-color: #{{ item.rarity.color }};">
          <h2 class="text-center">{{ item.rarity.name }}</h2>
        </div>
      {% endif %}
      {% if item.stattrak %}
        <div class="pil bg-stattrak">
          <h2 class="text-center">Stattrak Available</h2>
        </div>
      {% endif %}
      {% if item.souvenir %}
        <div class="pil bg-souvenir">
          <h2 class="text-center">Souvenir Available</h2>
        </div>
      {% endif %}
    </div>
    <div class="flex-row center-content">
      <img class="item-img" src="{{ item.icon.url }}">
    </div>
  </div>

  <div class="content mb overflow-x-scroll">
    <table>
      <tr>
        <th>Item</th>
        <th>
          <a class="text-dec-none" href="https://steamcommunity.com/market" target="blank">
            Steam
          </a>
        </th>
        <th>
          <a class="text-dec-none" href="https://buff.163.com/market/csgo" target="blank">
            Buff
          </a>
        </th>
        <th>
          <a class="text-dec-none" href="https://www.bitskins.com/" target="blank">
            Bitskins
          </a>
        </th>
        <th>
          <a class="text-dec-none" href="https://skinport.com/" target="blank">
            Skinport
          </a>
        </th>
        <th>
          <a class="text-dec-none" href="skinbaron.de/" target="blank">
            Skibaron
          </a>
        </th>
      </tr>
      {% if item.stattrak %}
        {% for wear in wears %}
          <tr>
            <td class="text-stattrak">
              Stattrak {{ wear.upper }}
            </td>
            <td id="steam-stattrak-{{ wear }}">
              NA
            </td>
            <td id="buff-stattrak-{{ wear }}">
              NA
            </td>
            <td id="bitskins-stattrak-{{ wear }}">
              NA
            </td>
            <td id="skinport-stattrak-{{ wear }}">
              NA
            </td>
            <td id="skinbaron-stattrak-{{ wear }}">
              NA
            </td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if item.souvenir %}
        {% for wear in wears %}
          <tr>
            <td class="text-souvenir">
              Souvenir {{ wear.upper }}
            </td>
            <td id="steam-souvenir-{{ wear }}">
              NA
            </td>
            <td id="buff-souvenir-{{ wear }}">
              NA
            </td>
            <td id="bitskins-souvenir-{{ wear }}">
              NA
            </td>
            <td id="skinport-souvenir-{{ wear }}">
              NA
            </td>
            <td id="skinbaron-souvenir-{{ wear }}">
              NA
            </td>
          </tr>
        {% endfor %}
      {% endif %}
      {% for wear in wears %}
        <tr>
          <td>
            {{ wear.upper }}
          </td>
          <td id="steam-{{ wear }}">
            NA
          </td>
          <td id="buff-{{ wear }}">
            NA
          </td>
          <td id="bitskins-{{ wear }}">
            NA
          </td>
          <td id="skinport-{{ wear }}">
            NA
          </td>
          <td id="skinbaron-{{ wear }}">
            NA
          </td>
        </tr>
      {% endfor %}
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function get_price(api_url, id) {
        $.ajax({
          url: api_url,
          type: "GET",
          success: function (result) {
            for (let key in result) {
              if (key != "success") {
                let element = document.getElementById(id + "-" + key);
                if (element && result[key] != 0) {
                  element.innerHTML = "$" + result[key].toString();
                }
              }
            }
          }
        })
      }

      get_price("{% url 'price-api-skinport' id=item.id %}", "skinport");
    </script>
  </div>

  {% if item.lowest_float or item.collection and item.added_by %}{% endif %}
  <div class="content mb">
    {% if item.lowest_float != none and item.highest_float %}
      <h4>Float range</h4>
      <p>{{ item.lowest_float }} - {{ item.highest_float }}</p>
    {% endif %}
    {% if item.collection %}
      <h4>Collection</h4>
      <p>{{ item.collection.name }}</p>
    {% endif %}
    {% if item.added_by %}
      <h4>Added by</h4>
      <p>{{ item.added_by.user.username }}</p>
    {% endif %}
  </div>
  {% if item.broskins_id %}
    <div class="content mb">
      <h2>Broskins</h2>
      <div class="flex-row">
        <div class="flex-col">
          <label for="patternid">Pattern id</label>
          <input class="text-black" id="patternid" type="int" value=0>
        </div>
        <div class="flex-col ml-auto">
          <label for="float">Float</label>
          <input class="text-black" id="float" type="float" value=0.0>
        </div>
      </div>
      <input id="broskinscmd" class="width-100 mt05 text-black">
      <script>
        const patterninput = document.getElementById("patternid");
        const floatinput = document.getElementById("float");
        const broskinscmd = document.getElementById("broskinscmd");
        function UpdateBroskinsCmd()
        {
          let command = "!gen " + {{ item.subcategory.broskins_id }} + " " + {{ item.broskins_id }} + " " + patterninput.value + " " + floatinput.value + " " + "0 0 0 0 0 0 0 0";
          broskinscmd.value = command;
        }
        UpdateBroskinsCmd();

        patterninput.onkeypress = UpdateBroskinsCmd;
        floatinput.onkeypress = UpdateBroskinsCmd;
      </script>
    </div>
  {% endif %}
</div>
{% endblock content %}