{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
  <div class="content mb">
    <div class="flex-column" style="width:fit-content; margin: 0 auto;">
      <div class="flex-row center-content">
        <a href="{% url 'items-subcat' id=item.subcategory.id %}" class="text-dec-none">
          <h1>{{ item.subcategory.name }}</h1>
        </a>
        <h1 style="margin: 0 0.3rem;">|</h1>
        <a href="{% url 'items-item' id=item.id %}" class="text-dec-none">
          <h1>{{ item.name }}</h1>
        </a>
      </div>
      {% if item.rarity %}
        <div class="pil" style="background-color: #{{ item.rarity.color }};">
          <h2 class="text-center">{{ item.rarity.name }}</h2>
        </div>
      {% endif %}
      {% if item.stattrak %}
        <div class="pil" style="background-color: #f89406;">
          <h2 class="text-center">Stattrak Available</h2>
        </div>
      {% endif %}
      {% if item.souvenir %}
        <div class="pil" style="background-color: gold;">
          <h2 class="text-center">Souvenir Available</h2>
        </div>
      {% endif %}
    </div>
    <div class="flex-row center-content">
      <img class="item-img" src="{{ item.icon.url }}">
    </div>
  </div>

  <div class="content mb">
    <table>
      <tr>
        <th>Site</th>
        <th>Factory New</th>
        <th>Minimal Wear</th>
        <th>Field-Tested</th>
        <th>Well-Worn</th>
        <th>Battle-Scarred</th>
      </tr>
      <tr>
        <td>
          <a class="text-dec-none" href="https://steamcommunity.com/market" target="blank">
            Steam
          </a>
        </td>
        <td id="steam-fn">NA</td>
        <td id="steam-mw">NA</td>
        <td id="steam-ft">NA</td>
        <td id="steam-ww">NA</td>
        <td id="steam-bs">NA</td>
      </tr>
      <tr>
        <td>
          <a class="text-dec-none" href="https://buff.163.com/market/csgo" target="blank">
            Buff
          </a>
        </td>
        <td id="buff-fn">NA</td>
        <td id="buff-mw">NA</td>
        <td id="buff-ft">NA</td>
        <td id="buff-ww">NA</td>
        <td id="buff-bs">NA</td>
      </tr>
      <tr>
        <td>
          <a class="text-dec-none" href="https://www.bitskins.com/" target="blank">
            Bitskins
          </a>
        </td>
        <td id="bitskins-fn">NA</td>
        <td id="bitskins-mw">NA</td>
        <td id="bitskins-ft">NA</td>
        <td id="bitskins-ww">NA</td>
        <td id="bitskins-bs">NA</td>
      </tr>
      <tr>
        <td>
          <a class="text-dec-none" href="https://skinport.com/" target="blank">
            Skinport
          </a>
        </td>
        <td id="skinport-fn">NA</td>
        <td id="skinport-mw">NA</td>
        <td id="skinport-ft">NA</td>
        <td id="skinport-ww">NA</td>
        <td id="skinport-bs">NA</td>
      </tr>
      <tr>
        <td>
          <a class="text-dec-none" href="skinbaron.de/" target="blank">
            Skibaron
          </a>
        </td>
        <td id="skinbaron-fn">NA</td>
        <td id="skinbaron-mw">NA</td>
        <td id="skinbaron-ft">NA</td>
        <td id="skinbaron-ww">NA</td>
        <td id="skinbaron-bs">NA</td>
      </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function get_price(api_url, id) {
        $.ajax({
          url: api_url,
          type: "GET",
          success: function (result) {
            for (let key in result) {
              if (key != "success") {
                let element = document.getElementById(id + "-" + key);
                if (element && result[key] != 0) {
                  element.innerHTML = "$" + result[key].toString();
                }
              }
            }
          }
        })
      }

      get_price("{% url 'price-api-skinport' id=item.id %}", "skinport");
    </script>
  </div>

  {% if item.lowest_float or item.collection and item.added_by %}{% endif %}
  <div class="content mb">
    {% if item.lowest_float != none and item.highest_float %}
      <h4>Float range</h4>
      <p>{{ item.lowest_float }} - {{ item.highest_float }}</p>
    {% endif %}
    {% if item.collection %}
      <h4>Collection</h4>
      <p>{{ item.collection.name }}</p>
    {% endif %}
    {% if item.added_by %}
      <h4>Added by</h4>
      <p>{{ item.added_by.user.username }}</p>
    {% endif %}
  </div>
</div>
{% endblock content %}