{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
  <div class="content mb">
    <div class="flex-row">
      <h2>{{ subcat.name }} Skins</h2>
      <button class="submit-button ml-auto">Sort</button>
    </div>
  </div>
  <div class="grid">
  {% for item in subcat.items.all %}
    <div class="content item">
      <div class="flex-row">
        <a class="ml-auto text-dec-none title" href="{% url 'items-subcat' id=subcat.id %}">{{ subcat.name}}</a>
        <p class="title" style="margin-left: 0.2em; margin-right: 0.2em;">|</p>
        <a class="mr-auto text-dec-none title" href="{% url 'items-item' id=item.id %}">{{ item.name }}</a>

      </div>
      <a href="{% url 'items-item' id=item.id %}">
        <img style="width: 100%;" src="{{ item.icon.url }}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}