{% extends 'base/base.html' %}
{% block content %}

<div class="container">
  <div class="content flex-row mb-1">
    <a href="{% url 'info-support-close' id=ticket.id %}" class="text-dec-none ml-auto">Close</a>
  </div>

  <div class="content flex-column">
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.body }}</p>

  </div>

  {% for reply in ticket.replies.all %}
    <div class="content flex-column mt-08">
      <p>{{ reply.author.username }}</p>
      <p>{{ reply.body }}</p>

    </div>
  {% endfor %}

  <form method="POST" class="mt-08">
    {% csrf_token %}
    <div class="form-fields">
      {{ form }}
      <button class="submit-button" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}