{% extends 'base/base.html' %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-fields">
      {{ form }}
      <div class="flex-row">
        <button class="submit-button" type="submit">Update</button>
        <a href="{% url 'items-admin-item-accept' id=item.id %}" class="submit-button ml-auto">Submit</a>
        <a href="{% url 'items-admin-item-delete' id=item.id %}" class="delete-button">Delete</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}