{% extends 'base/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'site_admin/css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'items/css/items.css' %}">
  <script defer src="{% static 'site_admin/js/sidebar.js' %}"></script>
{% endblock head %}

{% block nav %}
  <a class="sidebar-toggle-btn" onclick="toggle_sidebar()">
    <i class="bi bi-list hamburger-menu-icon"></i>
  </a>
{% endblock nav %}

{% block content %}
<div class="flex-row height-100">
<div id="sidebar" class="sidebar">
  <a href="{% url 'admin-dashboard' %}" class="sidebar-link">
    <i class="bi bi-grid-1x2-fill"></i>
    <p>Dashboard</p>
  </a>
  <a href="{% url 'admin-items' %}" class="sidebar-link">
    <i class="bi bi-view-stacked"></i>
    <p>Items</p>
  </a>
  <a href="{% url 'admin-support' %}" class="sidebar-link">
    <i class="bi bi-info-square"></i>
    <p>Support</p>
  </a>
</div>
<div id="sidebar-content" class="sidebar-content">
  {% block sidebar_content %}{% endblock sidebar_content %}
</div>
</div>
{% endblock content %}