

.sidebar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.sidebar-toggle-btn {
    margin-right: auto;
    display: none;
}


.sidebar-toggled {
    display: block!important;
}

.sidebar {
    width: 200px;
    height: 100%;
    padding: 8px 48px;
    background-color: var(--nav-bg-color);
}


.sidebar-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 0.7rem;
}

.sidebar-link p {
    font-size: 1.2rem;
    margin: auto 0;
    margin-left: 0.3rem;
    text-decoration: none;
}

.sidebar-link:hover p {
    color: #fff;
}


.sidebar-link i {
    font-size: 2rem;
}


.sidebar-content {
    width: 100%;
}


@media (max-width: 1400px) {
    .sidebar {
        display: none;
    }

    .sidebar-toggle-btn {
        display: block;
    }
}


.mb-section {
    margin-bottom: 1rem;
}